.flex-container {
    background-color: cadetblue;
    display: flex;
}

.vertical {

    flex-direction: column;
}

.horizontal{

    justify-content: center;
}

.cruzado{
height: 300px;
/* justifify-content alinea en el eje principal */
justify-content: space-around;
/* align-items alinea en el eje cruzado */
align-items: center;
}

.izq, .der{

    padding: 3px !important;
    background-color:darkblue !important;
}

.flex-container > div {
background-color: chartreuse;
margin: 10px;
padding: 20px;
font-size: 2rem;
text-align: center;

}
.cruzado div{

height: 50px;

}

.menu {
justify-content: space-between;

}


.izq div, .der div{

background-color: aquamarine;
margin: 1px;
font-size: 1.5 rem;
padding: 10px 15px;
}

.Home{
    order: -2;
}

.vertical{

    display: flex;
    flex-direction: column;
    margin: 1px;
    padding: 40px 30px;
  
}

footer{

    padding: 50vh;
}

