#class{

    color: #841111;
    background-color: rgb(128, 128, 128, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
   text-align: center;
   margin: 5% auto;
   padding: 5px;
}