*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(255, 211, 220);
}

#site-nav{
    background-color: rgb(71, 71, 71);
}

#site-nav a{
    color: white;
    width: 100%;
    padding: 14px;
    display: block;
}

/* site-nav nav>i */
#site-nav ul>li>a i{
    color: black;
    margin-left: 10px;
}

#site-nav a:hover{
    background-color: grey;
    opacity: 0.5;
    color: fuchsia;
}
