*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 1.05rem;
}

h1{
    font-size: 2.5rem;
}
img{
    width: 100%;
}

#site-header{
    background-color: lightcoral;
    height: 250px;
    text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

menu {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    
    
}
menu div {
    /* flex */
    display: flex;
}

menu a:nth-child(2):hover, a:nth-child(3):hover, div a:last-child:hover{
background-color: rgb(231, 169, 169);;
}

menu a{
    /* block */
    display: block;
    color: brown;
    font-weight: bold;
    padding: 20px 18px;
}
menu div:first-child a:first-child{
    background-color: rgb(163, 91, 91);
}

section.izquierda h3{
    color: brown;
}
section.izquierda{
    display: block;
    left: 0;
    background-color: rgb(243, 221, 225);
    width: 40%;
    padding: 20px 35px;
}

section.izquierda img{
    display: block;
    margin: auto;
    border-radius: 5px;
}

section.izquierda p{
    margin: 15px 15px;
}


section.izquierda h3{
    color: brown; 
    margin-bottom: 10px;
}

.adopcion{
border: 1px solid black;
border-radius: 5px;
padding: 10px 10px;
}

main{
    display: flex;
}

section.derecha{
    background-color: rgb(241, 197, 205);
    width: 60%;
    padding: 20px 35px;
    
}
section.derecha h3{
    color: brown;
    margin-bottom: 10px;
}


figcaption{
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

section.derecha img{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

section.derecha p{
    margin-bottom: 25px;
}

footer div{
    background-color: black;
    padding: 30px 30px;
    display: flex;
    justify-content: space-around;
}

footer a{
    color: white;
    font-size: 1rem;
    display: block;
    margin: auto;
}
footer p{
    color: white;
    font-size: 1rem;
}
