*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', "sans-serif";
    list-style: none;
    text-decoration: none;
}
main{
    padding: 0 150px;
}

img{
    width: 100%;
}

video{
    width: 100%;
}

span{
    background-color: goldenrod;
}

span:hover{
    background-color: white;
    transition: 0.6s;
    /* es para que salga la mano cuando te pones encima */
    cursor: pointer;
}

/* Flecha */
#site-header nav>ul>li:first-child, li:nth-child(2){
    position: relative;
    margin: 0 20px;
}

.active {
    border-bottom: 2px solid goldenrod;
}

#site-header nav ul li ul{
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    padding-top: 10px;
    display: none;
}

#site-header nav>ul li:hover ul{
    display: block;
}


#site-header nav ul li>i{
    color: brown;
    position: absolute;
    bottom: 150%;
    left: 45%;
    opacity: 0;
}

#site-header{
 display: flex;  
 align-items: center;
 justify-content: space-between; 
}

#site-header>a{
margin-left: 50px;
}

#site-header nav ul li>a:hover + i{
    bottom: 100%;
    opacity: 1;
    transition: opacity 1s, bottom 1s;
}
#site-header img{
    width: 100px;
    
}
#site-header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

#site-header nav ul>li{
    margin-right: 25px;
    letter-spacing: 1px;
}

#index-main h1{
font-size: 5rem;
margin-top: 100px;
margin-bottom: 100px;
padding: 40px 150px;
}

#index-main .ia{
width: 100%;
}

#index-main section div{
    color: black;
    margin-top: 15px;
    margin-bottom: 50px;
}

#index-main section p{
    font-weight: bold;
    margin-top: 10px;
}

#index-main div p:hover{
    color: brown;
    transition: color 0.0s;
}


#index-main section>div{
    display: flex;
    flex-wrap: wrap;
}

#index-main article{
    width: 50%;
}

#index-main section>article{
    width: 100%;
}

#index-main section>h2{
    font-size: 5rem;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px 150px;
}

#index-main button{
    display: block;
    margin: auto;
    font-size: 20px;
}

#index-main article i{
    margin-left: 10px;
    color: goldenrod;
    translate: 0px;
    opacity: 1;
}

#index-main article p:hover i{
    transition: translate 1s, opacity 1s;
    translate: 40px;
    opacity: 0;
}

div.boton a{
    border: 1px solid black;
    font-size: 1rem;
   padding: 10px 5px;
   display: inline-block;
  
}

div.boton{
    text-align: center;
}
div.boton a:hover{
    background-color: darkslategrey;
    color: goldenrod;
}

footer {
    background-color: black;
    color: grey;
    padding: 50px;
    text-align: center;
}
 footer a{
    color: grey;
    margin: 10px;
    border-bottom: 2px solid grey;
    padding: 10px;
    
 }
 footer a:hover{
    color: goldenrod;
    border-bottom: 2px solid goldenrod;
 }
footer p{
    margin-top: 25px;
    font-size: 0.8rem;
}

#nosotros-main{
    padding: 0;
}

#nosotros-main section:nth-child(1){
    background-color: black;
    color: white;

    padding: 100px;
}

#nosotros-main section h1{
    color: goldenrod;
    font-size: 3rem;
}

#nosotros-main section p{
    width: 45%;

}

#nosotros-main section:first-child div p:first-child{
    color: grey;
    font-weight: bold;
    border-bottom: 2px solid goldenrod;
    }



#nosotros-main section:first-child div{
display: flex;
margin-top: 60px;
justify-content: space-between;
    }

#nosotros-main section:nth-child(2)>div{
    padding: 100px;
}

#nosotros-main section:nth-child(2) div p:first-child{
    width: 45%;
}

.historia{
    display: flex;
    margin-bottom: 30px;
}

.historia p{
    margin-right: 50px;
}

#nosotros-main section:nth-child(2) h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#nosotros-main section:nth-child(3) i{
    color: darkorange;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#nosotros-main section:nth-child(3) h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#nosotros-main section:nth-child(3){
    padding: 100px;
}
#nosotros-main section:nth-child(3)>div {
display: flex;
justify-content: space-between;
}

#nosotros-main section:nth-child(3)>div div{
    width: 22%;
}

#nosotros-main section:nth-child(3) h3{
    font-size: 1.2rem;
    margin-bottom: 10px; 
}

#index-main h1{
    font-size: 5rem;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px 150px;
    }

    
    #proyectos-main section div{
        color: black;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    
    #proyectos-main section p{
        font-weight: bold;
        margin-top: 10px;
    }
    
    #proyectos-main div p:hover{
        color: brown;
        transition: color 0.0s;
    }
    
    #proyectos-main section:nth-child(1){
        margin-top: 30px;
    }
    
    #proyectos-main section>div{
        display: flex;
        flex-wrap: wrap;
    }
    
    #proyectos-main article{
        width: 50%;
    }
    
    #proyectos-main section>article{
        width: 100%;
    }
    
    #proyectos-main section>h2{
        font-size: 5rem;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 40px 150px;
    }
    
    #proyectos-main button{
        display: block;
        margin: auto;
        font-size: 20px;
    }
    
    #proyectos-main article i{
        margin-left: 10px;
        color: goldenrod;
        translate: 0px;
        opacity: 1;
    }
    
    #proyectos-main article p:hover i{
        transition: translate 1s, opacity 1s;
        translate: 40px;
        opacity: 0;
    }

    #proyectos-main {
        padding: 0;
    }

    #proyectos-main section:nth-child(2){
padding: 100px;
    }

    #proyectos-main section:nth-child(1){
        background-color: black;
        color: white;
    
        padding: 100px;
    }
    
    #proyectos-main section h1{
        color: goldenrod;
        font-size: 3rem;
    }
    
    #proyectos-main section p{
        width: 45%;
    
    }
    
    #proyectos-main section:first-child div p:first-child{
        color: grey;
        font-weight: bold;
        border-bottom: 2px solid goldenrod;
        }
    
    
    
    #nosotros-main section:first-child div{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
        }

        #site-aside{
            background-color: black;
            color: white;
            padding: 100px;
            text-align: center;
            bottom: 0;
            position: fixed;
        }

        #site-aside h4{
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        #site-aside p{
            margin-bottom: 20px;
        }

        #site-aside .boton{
            background-color: goldenrod;
            padding: 5px;
            border: none;     
}